<!--
  Generated template for the MyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
       
    <ion-title text-center>我&nbsp;的</ion-title>
        <ion-buttons end >
            <button ion-button icon-only (click)="setting()">
              <ion-icon name="settings" ></ion-icon>
            </button>
          </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="backcard" style="background-image: url(assets/imgs/288.jpg)">
      <div class="touxiang">
          <img src="assets/imgs/touxiang1.jpg"><!--用户头像-->
       
      </div>
      <h3>{{arr['username']}}</h3>
    </div>
<ion-list>
          <ion-segment [(ngModel)]="show"> 
              <ion-segment-button value='information' class="seg-btn"> 
                 报修
              </ion-segment-button> 
              <ion-segment-button value="advise" class="seg-btn"> 
                 建议
              </ion-segment-button> 
              <ion-segment-button value="star" class="seg-btn">  
                  服务
               </ion-segment-button> 
          </ion-segment>
</ion-list>
<div [ngSwitch]="show">
     
<!--报修-->
<!--       <ion-list *ngSwitchCase="'information'" class="index-list" (click)="content(item.id)" *ngFor='let item of arr;let idx = index;'>
          <h6 style="padding-left:16px;margin:5px 0px">{{item.title}}</h6>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{item.cover}}" class="thumb-img">
            </ion-thumbnail>
            <p class="p1">{{item.content}}</p>
          </ion-item>
      </ion-list> -->


  <!--建议-->   

<!--         <ion-list *ngSwitchCase="'advise'" *ngSwitchCase="'information'" class="index-list" (click)="content(item.id)" *ngFor='let item of arr;let idx = index;'>
            <h6 style="padding-left:16px;margin:5px 0px">{{item.title}}</h6>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="{{item.cover}}" class="thumb-img">
              </ion-thumbnail>
              <p class="p1">{{item.content}}</p>
            </ion-item>
        </ion-list> -->

<!--服务-->
  <ion-list class="index-list" (click)="content()" *ngSwitchCase="'server'">
        
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/index-thumbnail1.png" class="thumb-img">
      </ion-thumbnail>
      <h6 style="padding-left:0px;margin:5px 0px">代取快递</h6>
      <p class="p1">快递已被接收</p>
      <!-- <button ion-button outline item-end  color="primary"  style="float:right">问答</button> -->
    </ion-item>
  </ion-list>
<!--         <ion-list *ngSwitchCase="'server'" *ngSwitchCase="'information'" class="index-list" (click)="content(item.id)" *ngFor='let item of arr;let idx = index;'>
            <h6 style="padding-left:16px;margin:5px 0px">{{item.title}}</h6>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="{{item.cover}}" class="thumb-img">
              </ion-thumbnail>
              <p class="p1">{{item.content}}</p>
            </ion-item>
        </ion-list> -->


</div>
</ion-content>
