
<ion-header>

  <ion-navbar>
       
    <ion-title text-center>我&nbsp;的</ion-title>
        <ion-buttons end >
            <button ion-button icon-only (click)="setting()">
              <ion-icon name="settings" ></ion-icon>
            </button>
          </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="backcard" style="background-image: url(assets/imgs/288.jpg)">
      <div class="touxiang">
          <img src="{{arr['avatar_url']}}" onerror="this.src='../assets/imgs/touxiang1.jpg'">
      </div>
      <h3>{{arr['username']}}</h3>
    </div>
    
    <div>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="repair">
          报修
        </ion-segment-button>
        <ion-segment-button value="suggest">
          建议
        </ion-segment-button>
        <ion-segment-button value="service">
          服务
        </ion-segment-button>
      </ion-segment>
    </div>
    
    <div [ngSwitch]="pet">
      <div *ngSwitchCase="'repair'">
        <ion-list   *ngFor='let item of arr1;let i = index;'>
          <ion-item >
            <ion-thumbnail item-start>
            <img src="assets/imgs/mess1.jpg" class="thumb-img">
            </ion-thumbnail>
            <h6 style="padding-left:0px;margin:5px 0px">{{item['part']}}</h6>
            <p class="p1">详情：{{item['description']}}</p>
            <p class="p1">进度：{{item['state']}}</p>
            <p class="p1">预约时间：{{item['repair_time']}}</p>
          </ion-item>
       
        </ion-list>
      </div>
      <div *ngSwitchCase="'suggest'">
          <ion-list class="index-list" *ngFor='let item of arr2;let i = index;let j = index2;'>
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="assets/imgs/mess.jpg" class="thumb-img">
                </ion-thumbnail>
                <h6 style="padding-left:0px;margin:5px 0px">{{item['type']}}</h6>
                <p class="p1">详情：{{item['description']}}</p>
                <p class="p1">进度：{{item['state']}}</p>
              </ion-item>
            </ion-list>
      </div>
       <div *ngSwitchCase="'service'">
          <ion-list class="index-list" *ngFor='let item of arr3;let i = index;let j = index2;'>
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="assets/imgs/mess.jpg" class="thumb-img">
                </ion-thumbnail>
                <h6 style="padding-left:0px;margin:5px 0px">{{typetitle[i]}}</h6>
               <p class="p1">进度：{{arr3[i]['state']}}</p>
                <p class="p1">预约时间：{{arr3[i]['arrived_at']}}</p>
              </ion-item>
            </ion-list>
          </div>
      </div>

</ion-content>
