<ion-header>
  <ion-navbar color="yellow">
    <ion-buttons left >
      <button ion-button>
        <ion-icon ios="ios-pin" md="md-pin" color="dark"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center (click)="gettabs()">Ilink</ion-title>

    <!--<ion-title text-center>
      <ion-searchbar [(ngModel)]="searchInput" [showCancelButton]="shouldShowCancel" placeholder="搜索攻略、游记、答案" class="search"></ion-searchbar>
    </ion-title>
    -->
    <ion-buttons right>
      <button ion-button (click)="openlist()">
       <ion-icon ios="ios-notifications" md="md-notifications" color="dark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <!--轮播图-->
  <ion-slides class="slide" loop="true" pager="true">
    <ion-slide>
      <img src="assets/imgs/slide1.png" (click)="content()">
    </ion-slide>    
    <ion-slide>
      <img src="assets/imgs/slide4.jpg" (click)="content()">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/slide3.jpg" (click)="content()">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/slide2.jpg" (click)="content()">
    </ion-slide>
  </ion-slides>
    <!--轮播图-->
    <ion-slides class="slide" loop="true" pager="true" *ngIf="len>=1" autoplay="1000">
        <ion-slide  *ngFor="let item of lunbo;let i = index;" class="slide">
          <img src="{{lunbo[i].sImg}}" (click)="content(lunbo[i].id)">
        </ion-slide>
    </ion-slides>
</ion-header>


<ion-content>
  <!--一些服务-->
  <ion-row text-center> 
    <ion-col>
        <button ion-button (click)="annou()"><ion-icon name="clipboard" ></ion-icon></button><p>小区公告</p><p>&nbsp;</p>
      </ion-col> 
     
      <ion-col><button ion-button (click)="repair()"><ion-icon name="construct"></ion-icon></button><p>坏事报修</p><p>&nbsp;</p></ion-col> 
      <ion-col><button ion-button (click)="suggest()"><ion-icon name="mail-open"></ion-icon></button><p>投诉建议</p><p>&nbsp;</p></ion-col> 
  </ion-row> 



  <!--文章推荐列表-->
  <!--<h2>热文推送</h2>-->
  <!--
  <div class="hotnews">
    <ion-icon ios="ios-paw" md="md-paw" color="color1"></ion-icon><span class="hottitle">热文推送</span>
  </div>
-->

  <ion-list class="index-list" >
    
    
    <h6 style="padding-left:16px;margin:15px 0px;padding-top:10px;">小区公告 | 五一出行安全通知</h6>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/slide2.jpg" class="thumb-img">
      </ion-thumbnail>
      <p class="p1">尊敬的业主：
                  您好！
                  五一假期即将来临，阳光美第管家服务中心全体工作人员祝您节日快乐！
          为了让您度过一个温馨、舒适、安全的节日，管家服务中心特别提醒您注意以下几点：</p>
      <p class="p2"><ion-icon ios="ios-eye" md="md-eye"></ion-icon><button ion-button outline item-end  color="danger" style="float:right">查看</button></p>
    </ion-item>


  </ion-list>
<!--   
  <ion-list class="index-list" (click)="content()">
    <h6 style="padding-left:16px;margin:5px 0px">有哪些地方可以拍出不一样的重庆？</h6>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/index-thumbnail1.png" class="thumb-img">
      </ion-thumbnail>
      <p class="p1">史上最全的27个机位，让你看到一个更全面的重庆</p>
      <p class="p2"><ion-icon ios="ios-eye" md="md-eye"></ion-icon>330<button ion-button outline item-end  color="primary"  style="float:right">问答</button></p>
    </ion-item>
  </ion-list>

  <ion-list class="index-list" (click)="content()">
    <h6 style="padding-left:16px;margin:5px 0px">香港 | 拿上这份徒步攻略</h6>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/index-thumbnail2.png" class="thumb-img">
      </ion-thumbnail>
      <p class="p1">史上最全的27个机位，让你看到一个更全面的香港</p>
      <p class="p2"><ion-icon ios="ios-eye" md="md-eye"></ion-icon>370<button ion-button outline item-end  color="danger"  style="float:right">攻略</button></p>
    </ion-item>
  </ion-list>

  <ion-list class="index-list" (click)="content()">
    <h6 style="padding-left:16px;margin:5px 0px">香港 | 拿上这份徒步攻略,去全球最佳步道之一远足吧</h6>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/index-thumbnail1.png" class="thumb-img">
      </ion-thumbnail>
      <p class="p1">不要以为这又是一次shopping之旅</p>
      <p class="p2"><ion-icon ios="ios-eye" md="md-eye"></ion-icon>227<button ion-button outline item-end  color="danger" style="float:right">攻略</button></p>
    </ion-item>
  </ion-list>
  
  <ion-list class="index-list" (click)="content()">
    <h6 style="padding-left:16px;margin:5px 0px">有哪些地方可以拍出不一样的重庆？</h6>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/index-thumbnail1.png" class="thumb-img">
      </ion-thumbnail>
      <p class="p1">史上最全的27个机位，让你看到一个更全面的重庆</p>
      <p class="p2"><ion-icon ios="ios-eye" md="md-eye"></ion-icon>330<button ion-button outline item-end  color="primary"  style="float:right">问答</button></p>
    </ion-item>
  </ion-list>

  <ion-list class="index-list" (click)="content()">
    <h6 style="padding-left:16px;margin:5px 0px">香港 | 拿上这份徒步攻略</h6>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/index-thumbnail2.png" class="thumb-img">
      </ion-thumbnail>
      <p class="p1">史上最全的27个机位，让你看到一个更全面的香港</p>
      <p class="p2"><ion-icon ios="ios-eye" md="md-eye"></ion-icon>370<button ion-button outline item-end  color="danger"  style="float:right">攻略</button></p>
    </ion-item>
  </ion-list> -->
	<!--内容-->
  <!--<ion-list class="index-list" (click)="content(val[i].id)" *ngFor="let item of val;let i = index;">
    <h6 style="padding-left:16px;margin:5px 0px">{{val[i].stitle}}</h6>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="{{val[i].sImg}}" class="thumb-img">
      </ion-thumbnail>
      <p class="p1">{{val[i].discription}}</p>
      <p class="p2"><ion-icon ios="ios-eye" md="md-eye"></ion-icon>{{val[i].clickNum}}<button ion-button outline item-end  color="primary"  style="float:right">{{val[i].tags[0].name}}</button></p>
    </ion-item>
  </ion-list>-->








    <!--上拉加载
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="ios" loadingText="正在加载..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    -->
</ion-content>